.card-image {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow:
    0 0 0 5px #3273DC,
	0 0 0 10px #7FA7E9,
    0 0 0 13px #B5CBF0,
    0 0 0 15px #C0D4F4;
}

.banner {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    margin-bottom: 4.5rem;
    box-shadow:
    0 0 0 5px #3273DC,
    0 0 0 10px #7FA7E9,
    0 0 0 13px #B5CBF0,
    0 0 0 15px #C0D4F4;
}

.card-header {
    box-shadow: 0 0 0 5px #3273DC;
}

.column .card {
    box-shadow: 0 0 0 3px #3273DC;
	padding-top: 2rem;
}

.card .card-footer {
    box-shadow: 0 0 0 3px #3273DC;
}

.banner .card-footer {
    box-shadow: 0 0 0 5px #3273DC;
}

.fab {
    width: 2rem;
    height: 2rem;
    display: block;
}

.instagram {
  background: url('../media/image/instagram.svg');
}

.twitter {
    background: url('../media/image/twitter.svg');   
}

.linkedin {
    background: url('../media/image/linkedin.svg');   
}

.github {
    background: url('../media/image/github.svg');   
}

.youtube {
    background: url('../media/image/youtube.svg');   
}

.hackerrank {
    background: url(../media/image/hacker.svg);
    height: 2.5rem;
    width: 2.5rem;
}

.email {
    background: url('../media/image/email.svg');   
    height: 2.5rem;
    width: 2.5rem;   
}