body {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-image: radial-gradient(at top left, #f5eac2, transparent), radial-gradient(at top right, #dfb6bd, transparent), radial-gradient(at bottom left, #b8bce0, transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-image {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: gray;
}

.banner {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    margin-bottom: 4.5rem;
    box-shadow: gray;
}

.card-header {
    box-shadow: gray;
}

.column .card {
    box-shadow: gray;
    padding-top: 2rem;
}

.card .card-footer {
    box-shadow: gray;
}

.banner .card-footer {
    box-shadow: gray;
}

.fab {
    width: 2rem;
    height: 2rem;
    display: block;
}

.instagram {
    background: url('../media/image/svg/instagram.svg');
}

.twitter {
    background: url('../media/image/svg/twitter.svg');
}

.linkedin {
    background: url('../media/image/svg/linkedin.svg');
}

.github {
    background: url('../media/image/svg/github.svg');
}

.youtube {
    background: url('../media/image/svg/youtube.svg');
}

.hackerrank {
    background: url('../media/image/svg/hacker.svg');
    height: 2.5rem;
    width: 2.5rem;
}

.email {
    background: url('../media/image/svg/email.svg');
    height: 2.5rem;
    width: 2.5rem;
}